
/* HELPERS */

.background {
    background-image: linear-gradient(-90deg, var(--clr1), var(--clr2));
    border-radius: 3em;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.flex.wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.rounded {
    border-radius: 30px;
}

.pointer {
    cursor: pointer;
}

